page-profile {

    .top-container {
        position: relative;
    }

    .img-container {
        width: 100%;
        height: 50vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name-container {
        position: absolute;
        bottom: 16px;
        left: 32px;
        h3 {
            color: #fff;
            font-weight: bold;
            // text-shadow: 2px 1px rgba(123, 115, 115, 0.3);
        }
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(123, 115, 115, 0.3);
    }

    .left-btn {
        position: absolute;
        bottom: -27px;
        right: 32px;
        z-index: 9999;
        margin: 0;
        height: 54px;
        width: 54px;
        border-radius: 50%;
    }

    .fab-btn {
        bottom: -22.5px;
        right: 32px;
        border-radius: 50%;
        .fab {
            margin: 0;
            height: 48px;
            width: 48px;
            border: solid 3px #fff;
            box-shadow: none;
            .fab-close-icon {
                line-height: 48px !important;
            }
        }
        .fab-close-active {
            background-color: #f4f4f4;
            color: #000;
            border: none !important;
        }
        ion-fab-list .fab{
            border: none !important;
        }
    }

    .info-container {
        width: 100%;
        padding: 16px 32px;
    }

    .info-item {
        .input-wrapper {
            overflow: visible;
        }
        .label {
            white-space: unset;
        }
        .item-inner {
            padding: 0 !important;
        }
    }

    .info-header {
        font-weight: bold;
    }

    .info-value {
    }

    [col-9] {
        // border-right: solid 0.55px rgba(0,0,0,0.25);
    }

    .right-col {
        display: flex;
        align-items: center;
        justify-content: center;
        .item-block {
            .item-inner {
                padding: 0;
                .input-wrapper {
                    .label {
                        margin: 0;
                    }
                }
            }
        }
    }

    .right-content {
        text-align: center;
    }

}