page-home {

    .list-card {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: solid 0.55px rgba(0, 0, 0, 0.25);
    }

    .list-item {
        min-height: 113px;
        .item-inner {
            padding: 0 !important;
        }
        .label {
            margin: 0 2px 0 0 !important;
            white-space: unset !important;
        }
        ion-thumbnail {
            min-width: 75px;
            min-height: 75px;
            img {
                object-fit: cover;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                border: solid 0.55px rgba(70, 70, 70, 0.2);
            }
        }
        h3 {
            font-weight: 500;
            font-size: 14px;
            margin: 2px 0 0;
        }
        p {
            font-size: 14px;
        }
    }

    .subj-desc {
        margin: 7px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 19px;
        max-height: 38px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .content-right {
        height: 100%;
        margin: 0 !important;
        p {
            margin-top: 18px;
            font-size: 12px !important;
        }
    }

    .empty-search-msg {
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        padding-top: 5vh;
        p {
            margin: 0;
            color: map-get($colors, 'ash');
        }
    }

}