<ion-header>

  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearch($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card tappable class="list-card" [hidden]="isLoading" *ngFor="let item of data" (click)="view(item)">
    <ion-card-content>
      <ion-item no-margin no-padding no-lines class="list-item">
        <ion-thumbnail item-start>
          <img [src]="item?.image" />
        </ion-thumbnail>
        <h3><strong>{{item?.name}}</strong></h3>
        <p>{{item?.position}}</p>
        <p class="subj-desc">{{item?.department}}</p>
        <div item-end class="content-right">
          <p>{{item?.date}}</p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="empty-msg-container" *ngIf="data?.length == 0 && !isSearching">
    <div class="inner-container">
      <img src="./assets/imgs/marker.png" />
      <h3><strong>Empty message header empty message header</strong></h3>
      <p>Empty message empty message empty message</p>
    </div>
  </div>

  <div class="loader-container" [hidden]="!isLoading">
    <div class="content-container">
      <ion-spinner name="circles"></ion-spinner>
      <p class="gray-font"><strong>Loading content...</strong></p>
    </div>
  </div>

  <div class="empty-search-msg" *ngIf="isSearching && data?.length == 0">
    <p>Cannot find <strong>{{searchInput}}</strong></p>
  </div>

</ion-content>