page-home {

    .list-card {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: solid 0.55px rgba(0, 0, 0, 0.25);
    }

    .list-item {
        .item-inner {
            padding: 0 !important;
        }
        ion-thumbnail {
            min-width: 75px;
            min-height: 75px;
            img {
                object-fit: cover;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                border: solid 0.55px rgba(70, 70, 70, 0.2);
            }
        }
        h3 {
            font-weight: 500;
        }
    }

    .content-right {
        height: 100%;
        margin: 0 !important;
        p {
            margin-top: 18px;
        }
    }

    .empty-search-msg {
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        padding-top: 5vh;
        p {
            margin: 0;
            color: map-get($colors, 'ash');
        }
    }

}