@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.55px;
}

.toolbar-background {
    background: #fff !important;
    border-bottom: solid 0.55px rgba(0, 0, 0, 0.25) !important;
}

.tabbar {
    background: #fff !important;
}

.header-md::after {
    display: none;
}

button {
    box-shadow: 0 !important;    
}

.searchbar-input {
    box-shadow: none !important;
    background: transparent !important;
}

.gray-font {
    color: #525252 !important;
}